<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="false">

    <servlet>
        <servlet-name>I19nServlet</servlet-name>
        <servlet-class>com.habit.custom.server.servlet.InternationalizationServlet</servlet-class>
    </servlet>

    <servlet><!-- affects styles/common.css -->
        <servlet-name>springDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springDispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>I19nServlet</servlet-name>
        <url-pattern>/getLocalizedMessage</url-pattern>
    </servlet-mapping>

    <!-- <servlet>
         <display-name>index</display-name>
         <servlet-name>index</servlet-name>
         <jsp-file>/index.jsp</jsp-file>
     </servlet>
     <security-constraint>
         <display-name>SecurityConstraint</display-name>
         <web-resource-collection>
             <web-resource-name>WRCollection</web-resource-name>
             <url-pattern>/*</url-pattern>
         </web-resource-collection>
         <auth-constraint>
             <role-name>TutorialUser</role-name>
         </auth-constraint>
         <user-data-constraint>
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>
         </user-data-constraint>
     </security-constraint>
     <login-config>
         <auth-method>FORM</auth-method>
         <form-login-config>
             <form-login-page>/login.jsp</form-login-page>
             <form-error-page>/loginerror.jsp</form-error-page>
         </form-login-config>
     </login-config>
     <security-role>
         <role-name>TutorialUser</role-name>
     </security-role>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:custom/webAppContext.xml
            <!--classpath:database/datasource.xml
            classpath:database/hibernateContext.xml
            classpath:database/jpaContext.xml
            classpath:custom/cache/habitCacheContext.xml-->
        </param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
